@use "./color.scss" as c;
@use "./helper.scss" as h;
.app {
  @include h.flex-center;
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  .title {
    @include h.flex-center;
    span {
      font-weight: 600;
      font-size: 26px;
    }
  }
  .menu {
    height: 60px;
    justify-content: right;
    border-bottom: none;
  }
}
.content {
  max-width: 1170px;
  margin-top: 100px;
  .home {
    position: relative;
    width: 1170px;
    height: 500px;
    background: url('/assets/banner.jpg');
    background-size: 100% 100% !important;
    .slogan{
      margin-left: 50px;
      margin-top: 50px;
      position: relative;
      word-break: break-word;
    }
    .search {
      position: absolute;
      bottom: 100px;
      width: calc(100% - 160px);
      right: 80px;
      left: 80px;
    }
  }
}
}